@charset "utf-8";
#letter{width: 100%; height: 100%; background-image: url(../img/letter/bg.png); background-repeat: no-repeat; background-position: center; }
#letter .letterWrap{position: relative; top: 50%; transform: translateY(-50%); width: 720px; height: 470px; margin: 0 auto; background-color: rgba(255, 255, 255, 0.5);}
#letter .letterContent{width: 630px; height: 400px; background-color: rgba(255, 255, 255, 0.7); position: absolute; top: 35px; left: 45px;}

#letter .letterContent h2{font-size: 2rem; text-align: center; padding: 30px 0;}
#letter .letterContent h3{font-size: 1.5rem; text-align: center; padding-bottom: 50px;}

#letter .letterContent legend{font-size: 1.5rem; text-align: center; margin-bottom: 20px;}
#letter .letterContent input{display: block; width: 500px; height: 50px; border: 1px solid #dadada; margin: 0 auto; margin-bottom: 40px;}
#letter .letterContent input:focus{border: 1px solid #333;}
#letter .letterContent button{display: block; padding: 10px 30px; margin: 0 auto; border: none; background-color: #00843D; color: #fff;}


#letter .away{position: absolute; left: -999em;}




/* tablet & mobile */
@media screen and (max-width: 1023px) {
    #letter .letterWrap{width: 550px; height: 450px;}
    #letter .letterContent{width: 500px; height: 400px; top: 25px; left: 25px;}
    #letter .letterContent h2{font-size: 1.5rem; padding: 40px 0 30px;}
    #letter .letterContent h3{font-size: 1rem;}
    #letter .letterContent legend{font-size: 1rem;}
    #letter .letterContent input{width: 360px;}
}

/* mobile */
@media screen and (max-width:500px) {
    #letter .letterWrap{width: 343px; height: 300px;}
    #letter .letterContent{width: 300px; height: 260px; top: 20px; left: 20px;}
    #letter .letterContent h2{font-size: 1.5rem; padding: 40px 0 30px;}
    #letter .letterContent h3{display: none;}
    #letter .letterContent legend{font-size: 1rem;}
    #letter .letterContent input{width: 250px; margin-bottom: 20px;}
}